<script>var currentUser = {};</script>
<% if logged_in? %>
  <script>currentUser.id = <%= session[:user_id] %></script>
<% end %>

<!-- Angular layout / what gets 'stuffed' -->
<!-- defines scope of specified controller in router -->
<div ng-view>

</div>